.DS_Store
node_modules
package-lock.json
/dist
/tmp

*.bak
*.tsf-starters
*.vite-running
*.dev.*
*.master.*
*.new.*
*.old.*
*.original.*
*.sit.*
*.tmp.*
.vite

# Files that contain secure info
ftp-up.txt
ftp-mkdir.txt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
*.bak
package-lock.json
public/vite.svg
*.vite*
*.log
*.sh
*.old.*
tmp/
*.patch
